@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Hahmlet", serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  padding: 1rem;
}

header {
  border: 3px solid #220901;
  padding: 0.5em;
  font-size: 2rem;
  text-align: center;
}

main {
  display: flex;
  margin: 0.5rem 0;
  gap: 0.5rem;
  height: calc(100% - 100px);
}

aside {
  display: flex;
  flex-direction: column;
  border: 3px solid #941b0c;
  padding: 0.5em;
  font-size: 1.5rem;
  min-width: max-content;
}

#addBtn {
  background-color: #941b0c;
  border-radius: 4px;
  border: 2px solid #941b0c;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}

#addBtn:hover {
  background-color: white;
  color: #941b0c;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #f6aa1c;
  padding: 0.5em;
  gap: 0.5em;
  overflow-y: scroll;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #2b9348;
  padding: 0.7em;
  text-align: center;
  word-break: keep-all;
  height: fit-content;
  border-radius: 4px;
  width: 10rem;
}

.card img {
  height: 200px;
  margin-bottom: 0.3em;
}

@media only screen and (max-width: 600px) {
  .card {
    background-color: #ffff3f;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .card {
    background-color: #d4d700;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .card {
    background-color: #80b918;
  }
}
